
@{
    ViewBag.Title = "Index";
}

@model List<Laptop_Ecommerce.Models.ProductModel>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Views/Home/index.css">

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
	        <div class="col-md-4">
		        <div class="card product-item">
			        <a href="@Url.Action("Details", "Products", new { id = product.Id })">
				        <img src="@product.ImageUrl" alt="@product.Name" class="card-img-top img-fluid" style="height: 200px;">
				        <div class="card-body">
					        <h5 class="card-title">@product.Name</h5>
					        @*<p class="card-text">@product.Description</p>*@
					        <p class="card-text">$@product.Price</p>
				        </div>
			        </a>
		        </div>
	        </div>
        }
    </div>
</div>




